* {
  margin: 0;
  padding: 0;
  background: rgb(241, 238, 27);
}

html,
body {
  height: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 5rem;
}
h1::after {
  content: "📷📸";
}

.wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-container {
  margin-top: 1rem;
  display: flex;
  width: 550px;
  padding: 1rem;
  justify-content: space-around;
}

.video-item > h2 {
  text-align: center;
}

.video-item > video {
  border: 1px solid #333;
  width: 250px;
  height: 188px;
}

button,
a {
  cursor: pointer;
  border: none;
  font-size: 16px;
  background: #ccc;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 1s ease;
}

button:hover,
a:hover {
  background: #000;
  color: rgb(241, 238, 27);
}

a {
  text-decoration: none;
}

button:focus {
  /* outline: solid rgba(241, 20, 20, 0.849); */
  outline: none;
  box-shadow: 0 0 0 2px #f00;
}

a::before {
  content: "⬇";
  text-decoration: underline;
}
